@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main" >


        <div class="top-row px-4">

            <a href="about">About</a>
            <AuthorizeView>
                <Authorized>

                    <form action="cookie" method="get">

                        <input type="submit" class="btn btn-link" value="Cerrar Session" />

                    </form>

                </Authorized>
                <NotAuthorized>
                    <a href="/" class="btn  btn-link">Iniciar Session</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="content px-4">
            @Body
        </div>

       
    </div>
</div>
